<div class="container-fluid mt-5">
    <div class="row">
        <aside class="col-md-3 col-lg-2 d-md-block sidebar">
            <app-sidepanel></app-sidepanel>
        </aside>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="text-center mb-4">
                <h1 class="h3">Order History</h1>
            </div>
            <div class="row">
                <div class="col-6 float-start">
                    <button class="btn btn-light" (click)="toggleSort()"><i class="{{ sortNewestFirst ? 'bi bi-sort-down' : 'bi bi-sort-down-alt' }}"></i> {{ sortNewestFirst ? 'Oldest First' : 'Newest First' }}</button>
                </div>
                <div class="col-6 float-start">
                    <form (ngSubmit)="alterOrders()">
                        <input class="form-control" placeholder="Search by order id..." [(ngModel)]="searchFilter" name="filter">
                        <button class="btn btn-light" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <hr>
            @for(order of alteredOrders; track $index){
                <app-admin-order-thumbnail [order]="order"></app-admin-order-thumbnail>
            }
        </main>
    </div>
</div>