<!--<div class="container-fluid mt-5">-->
<!--    <div class="row">-->
<!--        <aside class="col-md-3 col-lg-2 d-md-block sidebar">-->
<!--            <div class="list-group">-->
<!--                <a href="/admin/AllOrders" class="list-group-item list-group-item-action">Placed Orders</a>-->
<!--                <a href="/admin/Products" class="list-group-item list-group-item-action">Products Dashboard</a>-->
<!--                @if(isAdmin()){-->
<!--                    <a href="/admin/Categories" class="list-group-item list-group-item-action">Categories</a>-->
<!--                    <a href="/admin/allUsers" class="list-group-item list-group-item-action">User Overview</a>-->
<!--                }-->
<!--            </div>-->
<!--        </aside>-->
<!--        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">-->
<!--            <div class="text-center mb-4">-->
<!--                <h1 class="h3">New Product Panel</h1>-->
<!--            </div>-->
<!--            <div class="col-md-7">-->
<!--                <div class="form-group">-->
<!--                    <label for="form1.1" class="form-label">Name:</label>-->
<!--                    <input type="text" id="form1.1" class="form-control" [(ngModel)]="user.name"/>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="form1.2" class="form-label">Tussenvoegsel:</label>-->
<!--                    <input type="text" id="form1.2" class="form-control" [(ngModel)]="user.infix"/>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="form1.3" class="form-label">Achternaam:</label>-->
<!--                    <input type="text" id="form1.3" class="form-control" [(ngModel)]="user.lastName"/>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="form1.4" class="form-label">E-mail:</label>-->
<!--                    <input type="email" id="form1.4" class="form-control" [(ngModel)]="user.email"/>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="form1.5" class="form-label">Image URL:</label>-->
<!--                    <input type="text" id="form1.5" class="form-control" [(ngModel)]="user.imgUrl"/>-->
<!--                </div>-->
<!--                <div formGroupName="adress">-->
<!--                    <div class="form-group">-->
<!--                        <label for="form2.1" class="form-label">Postcode:</label>-->
<!--                        <input type="text" id="form2.1" class="form-control" [(ngModel)]="user.adress.zipcode"/>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="form2.2" class="form-label">Huisnummer:</label>-->
<!--                        <input type="number" id="form2.2" class="form-control" [(ngModel)]="user.adress.houseNumber"/>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="form2.3" class="form-label">Huisnummer toevoeging:</label>-->
<!--                        <input type="text" id="form2.3" class="form-control" [(ngModel)]="user.adress.houseNumberAddition"/>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="d-flex justify-content-between mt-4">-->
<!--                    <button class="btn btn-primary" (click)="updateProduct()">Opslaan</button>-->
<!--                    <button class="btn btn-danger" (click)="deleteProduct()">Verwijder Account</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </main>-->
<!--    </div>-->
<!--</div>-->

