<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="mb-4 text-center">Buy Giftcards</h1>
                    <div class="mt-4">
                    <h4>Price: {{price | currency: 'EUR' }}</h4>
                    <div class="btn-group" role="group" aria-label="Product Types">
                      <button (click)="selectPrice(10)" class="btn btn-outline-primary"> 10 </button>
                      <button (click)="selectPrice(25)" class="btn btn-outline-primary"> 25 </button>
                      <button (click)="selectPrice(50)" class="btn btn-outline-primary"> 50 </button>
                      <button (click)="selectPrice(100)" class="btn btn-outline-primary"> 100 </button>
                      <button (click)="selectPrice(250)" class="btn btn-outline-primary"> 250 </button>
                    </div>
                  </div>
                    <form [formGroup]="giftcardForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="email" class="form-label">Receiver (Email)</label>
                            <input type="email" class="form-control" formControlName="email" id="email">
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Message</label>
                            <textarea type="text" rows="11" cols="60" name="message" class="form-control" formControlName="message" id="message">
                                Message...
                            </textarea>
                        </div>

                        <button type="submit" class="btn btn-md btn-dark w-100" [disabled]="!giftcardForm.valid">Buy</button>
                    </form>
                </div>
            </div>
          <div class="card">
            <div class="card-body">
              <div class="mb-4 text-center">
                <h1>FAQ</h1>
                <label for="message" class="form-label">Frequently Asked Questions</label>
              </div>


              <h4>Can i use multiple giftcards during one purchase?</h4>
              <div class="mb-3">
                <label for="message" class="form-label">Yes, you can use as many giftcards as you want during one purchase.</label>
              </div>

              <h4>Do giftcards expire?</h4>
              <div class="mb-3">
                <label for="message" class="form-label">Giftcards never expire.</label>
              </div>

              <h4>Can i exchange giftcards for cash?</h4>
              <div class="mb-3">
                <label for="message" class="form-label">No, once a giftcard is bought, the money can only be used at this store.</label>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
