<div class="card mb-4 shadow">
    <div class="card-header">
        <h5 class="card-title">Order ID: {{ order.id }}</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <p>User ID: {{ order.userId }}</p>
                <p>Order Date: {{ order.orderDate | date: 'medium' }}</p>
                <p>Order Status: {{ order.status }}</p>
                @if(order.notes) {
                    <p>Notes: {{ order.notes }}</p>
                }
            </div>
            <div class="col-md-6">
                <p>Address: {{ order.adress.zipCode }}, {{ order.adress.houseNumber }} {{ order.adress.houseNumberAddition }}</p>
            </div>
        </div>
        <div class="row float-end mx-3">
            @if(order.status == StaticDetails.ORDER_PENDING) {
                <button class="btn btn-primary" (click)="setProcessing()">Set Processing</button>
            }
            @if(order.status == StaticDetails.ORDER_PROCESSING) {
                <button class="btn btn-primary" (click)="setConfirmed()">Set Confirmed</button>
            }
            @if(order.status == StaticDetails.ORDER_CONFIRMED) {
                <button class="btn btn-primary" (click)="setOutForDelivery()">Set Out For Delivery</button>
            }
            @if(order.status == StaticDetails.ORDER_OUT_FOR_DELIVERY) {
                <button class="btn btn-primary" (click)="setDelivered()">Set Delivered</button>
            }
        </div>
    </div>
    <ul class="list-group list-group-flush">
        @for(orderItem of order.orderItems; track $index){
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div>
                        <img src="{{orderItem.productType.imgUrl}}" alt="{{ orderItem.productType.name }}" class="img-thumbnail mr-3" style="width: 100px; height: auto;">
                        <span>{{ orderItem.productType.name }}</span>
                    </div>
                    <div>
                        <span>Quantity: {{ orderItem.quantity }}</span>
                        <span class="ml-3">Price: {{ orderItem.productType.price | currency: 'EUR' }}</span>
                    </div>
                </div>
            </li>
        }
        <li class="list-group-item font-weight-bold">
            Total: {{ order.totalPriceAfterPromocode | currency: 'EUR' }}
        </li>
    </ul>
</div>
