<div class="container mt-5">
    <div class="card col-lg-7 col-md-9 mx-auto p-4 shadow">
        <div *ngIf="user" class="d-flex flex-column align-items-center">
            <div class="row w-100">
                <div class="col-md-5 text-center mb-4">
                    <img [src]="user.imgUrl" class="img-fluid rounded-circle" style="width: 20vw; max-width: 150px;" alt="User Profile Image">
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="form1.1" class="form-label">Name:</label>
                        <input type="text" id="form1.1" class="form-control" [(ngModel)]="user.name"/>
                    </div>
                    <div class="form-group">
                        <label for="form1.2" class="form-label">Tussenvoegsel:</label>
                        <input type="text" id="form1.2" class="form-control" [(ngModel)]="user.infix"/>
                    </div>
                    <div class="form-group">
                        <label for="form1.3" class="form-label">Achternaam:</label>
                        <input type="text" id="form1.3" class="form-control" [(ngModel)]="user.lastName"/>
                    </div>
                    <div class="form-group">
                        <label for="form1.4" class="form-label">E-mail:</label>
                        <input type="email" id="form1.4" class="form-control" [(ngModel)]="user.email"/>
                    </div>
                    <div class="form-group">
                        <label for="form1.5" class="form-label">Image URL:</label>
                        <input type="text" id="form1.5" class="form-control" [(ngModel)]="user.imgUrl"/>
                    </div>
                    <div formGroupName="adress">
                        <div class="form-group">
                            <label for="form2.1" class="form-label">Postcode:</label>
                            <input type="text" id="form2.1" class="form-control" [(ngModel)]="user.adress.zipcode"/>
                        </div>
                        <div class="form-group">
                            <label for="form2.2" class="form-label">Huisnummer:</label>
                            <input type="number" id="form2.2" class="form-control" [(ngModel)]="user.adress.houseNumber"/>
                        </div>
                        <div class="form-group">
                            <label for="form2.3" class="form-label">Huisnummer toevoeging:</label>
                            <input type="text" id="form2.3" class="form-control" [(ngModel)]="user.adress.houseNumberAddition"/>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-4">
                        <button class="btn btn-primary" (click)="updateUser()">Opslaan</button>
                        <button class="btn btn-danger" (click)="deleteAccount()">Verwijder Account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
