<div class="container-fluid mt-5">
    <div class="row">
        @if(this.loadedAdmin){
            <aside class="col-md-3 col-lg-2 d-md-block sidebar">
                <app-sidepanel></app-sidepanel>
            </aside>
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="text-center mb-4">
                    <h1 class="h3">Admin Panel</h1>
                </div>
                <router-outlet name="admin"></router-outlet>
            </main>
        } @else {
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="text-center mb-4">
                    <h1 class="h3">Admin Panel</h1>
                    <h2>Your role has not been certified yet, wait a moment</h2>
                </div>
            </main>
        }
    </div>
</div>

