<div class="container my-4">
    <div class="card mb-3">
        <div class="row g-0 align-items-center">
            <div class="col-md-4">
                <img src="{{ product.productSpecification.types.at(0)?.imgUrl }}" class="img-fluid rounded-start" alt="Product Image" style="max-height: 150px;">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">
                        <span class="text-muted">From: </span>{{ productsService.calculatePrice(product, 0,0) | currency: 'EUR' }}
                    </p>
                    <p class="card-text"><small class="text-muted">{{ product.description }}</small></p>
                </div>
            </div>
            <div class="col-md-2 text-end">
                <button [routerLinkActive]="['active']" routerLink="/products/{{ product.id }}" class="btn btn-secondary m-2">
                    Show Detail
                </button>
            </div>
        </div>
    </div>
    <hr>
</div>
