<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>About Us</h5>
                <p> Welkom bij onze racefiets webshop, waar passie voor wielersport samensmelt met hoogwaardige technologie en innovatie. </p>
            </div>
            <div class="col">
                <h5>Quick Links</h5>
                <ul>
                    <li><a [routerLink]="''">Home</a></li>
                    <li><a [routerLink]="''">Shop</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Contact Us</h5>
                <p>Email: info&#64;hsleiden.nl</p>
                <p>Phone: (123) 456-7890</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">© 2024 Bobs luxury products. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
