<div class="container-fluid mt-5">
    <div class="row">
        <aside class="col-md-3 col-lg-2 d-md-block sidebar">
            <app-sidepanel></app-sidepanel>
        </aside>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="text-center mb-4">
                <h1 class="h3">All accounts</h1>
            </div>

            <table class="table manage-candidates-top mb-0">
                <thead>
                <tr>
                    <th>Candidate Name</th>
                    <th class="text-center">Role</th>
                    <th class="action text-right">Appoint new Role</th>
                </tr>
                </thead>
                <tbody>
                    @for (user of userList; track $index){
                        <tr class="candidates-list">
                            <td class="title">
                                <div class="thumb">
                                    <img class="card-img img-thumbnail img-fluid width" [src]="user.imgUrl" alt="">
                                </div>
                                <div class="candidate-list-details">
                                    <div class="candidate-list-info">
                                        <div class="candidate-list-title">
                                            <h5 class="mb-0">{{ user.name }}</h5>
                                        </div>
                                        @if(user.adress){
                                            <div class="candidate-list-option">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <i class="fas fa-map-marker-alt pr-1"></i>
                                                        {{ user.adress.zipcode }} {{ user.adress.houseNumber }} {{ user.adress.houseNumberAddition }}
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </td>
                            <td class="candidate-list-favourite-time text-center">
                                <span>{{ user.role }}</span>
                            </td>
                            <td>
                                    <form [formGroup]="newRoleForm">
                                        <div class="form-group">
                                            <label for="newRole">Role</label>
                                            <select id="newRole" formControlName="newRole" class="form-control">
                                                @for (role of roles; track $index){
                                                    <option [value]="role">{{ role }}</option>
                                                }
                                            </select>
                                        </div>
                                        <button type="button" (click)="onSubmit($index)" class="btn btn-primary">Appoint Role</button>
                                    </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </main>
    </div>
</div>
