.candidates-list {
  margin-bottom: 20px;
}
.table .title {
  width: 50%;
}
.table .candidate-list-favourite-time {
  width: 20%;
}
.table .action {
  width: 30%;
}
.table th, .table td {
  padding-top: 20px;
  padding-bottom: 20px;
}
